#!/bin/bash
set -x
set -e

apt-get update
apt-get install -y git python3.6 apt-transport-https \
    ca-certificates \
    curl \
    gnupg-agent \
    software-properties-common

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -

add-apt-repository \
    "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) \
    stable"

apt-get update
apt-get install --yes docker-ce docker-ce-cli containerd.io

mkdir -p /work
cd work
echo "Cloning {{ repo }}"
git clone {{ repo }} src
echo "Clone completed"

cd src
echo "Starting local build"
ls -lah .
python3.6 ./build-locally.py {{ config }}

ls build_artifacts
# for x in g`build_artifacts/`

# cp 
#gsutil cp build_artifacts/   gs://{{ bucket }}/