#!/bin/bash
set -x
set -e

cd /src_archive
tar -xvf src.tar -C $FEEDSTOCK_ROOT
ls -lah $FEEDSTOCK_ROOT

/opt/docker/bin/entrypoint \
    bash $FEEDSTOCK_ROOT/.azure-pipelines/build_steps.sh

cd build_artifacts
for f in linux*/*.tar.bz2;
do
    echo "$f"
    echo gsutil cp "$f" "gs://conda-forge-builds/${f}"
done;