apiVersion: batch/v1
kind: Job
metadata:
  name: conda-builder-{{ name }}
spec:
  template:
    spec:
      securityContext:
        runAsUser: 1000
      containers:
      - name: build-image
        image: {{ image }}
        tty: true
        command: [
          "bash", "/scripts/build_script.sh"]
        resources:
          requests:
            memory: "1024Mi"
            cpu: "1000m"
          limits:
            memory: "2048Mi"
            cpu: "4000m"
        env:
          - name: FEEDSTOCK_ROOT
            value: /src
          - name: RECIPE_ROOT
            value: /src/recipe
          - name: CONFIG
            value: {{ config }}
          - name: HOST_USER_ID
            value: 9001
        volumeMounts:
          - name: build-script
            mountPath: /scripts
          - name: src-archive
            mountPath: /src_archive
          - name: workdir
            mountPath: /src
      restartPolicy: Never
      volumes:
        - name: build-script
          configMap:
            name: build-script-{{ name }}
            defaultMode: 0744
        - name: src-archive
          configMap:
            name: src-{{ name }}
        - name: workdir
          emptyDir: {}

  backoffLimit: 1
